body{
  min-height: 100vh;
  display:grid;
  place-content:center;
  font-size: clamp(2rem, 1rem + 5vw, 4rem);
}

.btn{
  --background: #fff;
  --border-color: linear-gradient(to bottom right, red , blue);
  --border-width: .25em;
  --edge-size: .5em;
  
  position:relative;
  isolation: isolate;
  
  display: inline-grid;
  padding: 0.5em 1.5em;
  border:0;
  background: var(--background);
  clip-path: polygon(
    0% var(--edge-size),
    var(--edge-size) 0%,
    100% 0,
    100% calc(100% - var(--edge-size)),
    calc(100% - var(--edge-size)) 100%, 
    0 100%
    );
  
  transition: color 250ms;
}

.btn::before,
.btn::after{
  content: '';
  position: absolute;
  inset: 0;
}

.btn::before{
  background: var(--border-color);
  z-index: -2;
}

.btn::after{
  background: var(--background);
  z-index:-1;
  
 clip-path: polygon(
    
    var(--border-width) calc(var(--edge-size) + var(--border-width) * 0.5),
    
    calc(var(--edge-size) + var(--border-width) * 0.5) var(--border-width),
    
    calc(100% - var(--border-width)) var(--border-width),
    
    calc(100% - var(--border-width))
      calc(100% - calc(var(--edge-size) + var(--border-width) * 0.5)),
    
    calc(100% - calc(var(--edge-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width)),
    
    calc(var(--border-width)) calc(100% - var(--border-width))
  );
  
  transition: clip-path 500ms;
}

.btn:where(:hover, :focus){
  color: white;
}

.btn:where(:hover, :focus)::after{
  clip-path: polygon(
    
      calc(100% - var(--border-width))
      calc(100% - calc(var(--edge-size) + var(--border-width) * 0.5)),
    
    calc(100% - var(--border-width))
    var(--border-width),
    
    calc(100% - var(--border-width)) var(--border-width),
    
    calc(100% - var(--border-width))
      calc(100% - calc(var(--edge-size) + var(--border-width) * 0.5)),
    
    calc(100% - calc(var(--edge-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width)),
    
     calc(100% - calc(var(--edge-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width))
  );
}
